@import url('https://fonts.googleapis.com/css2?family=Gluten');
*{
    font-family:'Gluten', cursive;
}
table{
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    text-align: left;
    background-color: royalblue;
    color: white;
    text-align: center;
}
.manzana {
    background-color: rgb(211, 210, 210);
    text-align: center;
}
th, td {
    padding: 10px;
}