@import url('https://fonts.googleapis.com/css2?family=Gluten');
*{
    font-family:'Gluten', cursive;
}
.tabla8{
    width: 100%;
}
.tabla8, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.th1, .th2{
    text-align: left;
    background-color: royalblue;
    color: white;
    text-align: center;
    width: 50%;
}
.manzana {
    background-color: rgb(211, 210, 210);
    text-align: center;
}
.th1, .th2, th, td {
    padding: 10px;
}

.tabla9{
    border: 1px solid black;
}