@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*{
    font-family: 'PT Serif';
}
table{
    width: 50%;
    border: 3px solid black;
    border-collapse: collapse;
}

th, td{
    text-align: center;
    border: 2px solid black;
}

.dia{
    background-color: blanchedalmond;
    width: 100px;
}

.hora{
    background-color: rgba(155, 186, 245, 0.65);
    height: 40px;
}

.seg{
    background-color: rgb(251, 135, 135);
    font-family: Arial, Helvetica, sans-serif;
}

.web{
    background-color: rgb(179, 255, 179);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.red{
    background-color: rgb(211, 148, 255);
    font-family: Impact;
}

.sis{
    background-color: rgba(253, 253, 85, 0.829);
    font-family: initial;
}

.tut{
    background-color: turquoise;
    font-family: 'Times New Roman', Times, serif;
}

.fol{
    background-color: rgb(255, 169, 226);
    font-family: sans-serif;
}