@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200&display=swap');

.receta{
    font-family: 'Spectral SC';
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}

.logo {
    text-align: center;
}

th, td {
    color: red;
    width: 60px; 
    border: 2px solid black;
}

th{
    background-color: aliceblue;
}

table, th, td {
    text-align: center;
}

td{
    background-color: deepskyblue;
}

body{
    background-color: cornflowerblue;
}

.papas {
    color: red;
}

h1{
    font-size: 20px;
    color: #333;
}

h2{
    font-size: 16px;
    color: #666;
}

p, li{
    font-size: 12px;
    color: #000;
}